* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
    --bg-color: #3870A8;
    --bg-color-dark: #205088;
    --loading-color: #f8b0b4;
}

#game_canvas {
    /* see: http://jsfiddle.net/namuol/VAXrL/1459/ */
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;

    cursor: none;

    border-radius: 4px;
}

#start_button {
    background-color: #C0C0C0;
    color: black;
    appearance: unset;
    display: inline-block;
    font-weight: bold;
    max-width: 80vw;
    font-size: 8vmin;
    padding: .25em .33em;
    cursor: pointer;
    border: 0.1875em outset #E0E0E0;
    outline: 0;

    box-shadow: 3vmin 3vmin var(--bg-color-dark);
}

#start_button:hover {
    filter: brightness(1.025);
}

#start_button:active {
    filter: none;
    border-style: inset;
    text-indent: 0.1em;
    box-shadow: 1.5vmin 1.5vmin var(--bg-color-dark);
    transform: translate(1.5vmin, 1.5vmin);
}

#fatal_error {
    background-color: #1E1E1E;
    color: #20d058;

    font-family: monospace;
    font-size: 120%;
    text-align: center;

    padding: 0.8em;
    animation: fatal_error_glow 2s infinite alternate-reverse;
}

@keyframes fatal_error_glow {
    0% {
        text-shadow: 0 0 0.2em #387526a0;
    }
    100% {
        text-shadow: 0 0 0.7em #387526;
    }
}

#fatal_error h1, #fatal_error h2 {
    opacity: 0;
    animation: fatal_error_in 0.7s forwards;
}

#fatal_error h1 {
    margin-bottom: 1em;
    animation-delay: 0.2s;
}

#fatal_error h2 {
    animation-delay: 0.4s;
    white-space: pre-wrap;
}

@keyframes fatal_error_in {
    0% {
        transform: translate(0, 0.5em);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 100%;
    }
}

body {
    background-color: var(--bg-color);
    display: flex;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

noscript {
    font-size: 4vw;
    font-weight: bold;
    background-color: #d05050;
    color: #f0f0d0;
    padding: .1em .2em;
}

.dev_message_container {
    position: fixed;
    bottom: 8px;
    left: 8px;
    font-size: 16px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.dev_message_container > * {
    padding: 16px;
    margin: 8px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 4px 4px var(--bg-color-dark);
}

#runtime_errors {
    font-family: monospace;
    font-size: 120%;

    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

#runtime_errors .count {
    font-weight: 600;
}

#runtime_errors .error {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;

    background-color: #a00000;
    color: white;
    text-shadow: 0 -1px 0 #400000;
    padding: 0.2rem 0.5rem;

    border-radius: 3px;
}

#runtime_errors .error.empty {
    display: none;
}

#runtime_errors .unique_count.empty {
    display: none;
}

#toast {
    font-size: 120%;

    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#toast .warning_toast {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #f8c818;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
    position: relative;
    animation: warning_toast_in 0.3s ease-out;
    box-sizing: border-box;
}

#toast .warning_toast.out {
    animation: warning_toast_out 1.4s ease-out forwards;
}

@keyframes warning_toast_in {
    0% {
        left: calc(0.5rem + 100%);
    }
    100% {
        left: 0;
    }
}

@keyframes warning_toast_out {
    0% {
        left: 0;
    }
    50%, 100% {
        left: calc(0.5rem + 100%);
    }
    50% {
        max-height: 1000px;
    }
    90% {
        padding: 0.5rem 0.75rem;
        margin-bottom: 0.5rem;
    }
    100% {
        max-height: 0;
        padding: 0;
        margin: 0;
    }
}

#toast .message {
    max-width: 25vw;
}

@media (max-width: 800px) {
    #toast .message {
        max-width: unset;
    }
}

#toast .title {
    font-weight: bold;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    border-bottom: dashed 1px #E04020;
}

#toast .description {
    font-size: 95%;
}

#toast svg.warning {
    flex-shrink: 0;
    height: 2rem;
}

#loading {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    --color: var(--loading-color);
}

#user_gesture {
    background: none;
    border: none;
    opacity: 0;
    pointer-events: none;
    font-size: 10vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--color);
}

#user_gesture.show {
    opacity: 1;
    cursor: pointer;
    pointer-events: unset;
}

#user_gesture.hide {
    opacity: 1;
    overflow: clip;
}

#user_gesture span {
    position: relative;
    top: 0;
}

#user_gesture.hide span {
    top: 1em;
    transition: top 0.2s linear;
}

#loading_bar {
    position: relative;
}

#loading_bar > * {
    position: absolute;
}

#loading_bar .front {
    width: 0px;
    background-color: var(--color);
    height: 1px;
}

#loading.hide .front {
    transform-origin: 100% 0%;
    transform: scaleX(0);
    transition: transform 0.2s;
}

/* https://codepen.io/stg/pen/YGRpZJ */
#preload {
    width: 100%;
    height: 1px;

    opacity: 0;
    transition: opacity 0.25s;

    --ant-width: 1px;
    --ant-size: 16px;

    --front: var(--loading-color);
    --back: #00000000;
    
    background-size: var(--ant-size) var(--ant-width);

    background-position: 0 0;
    background-repeat: repeat-x;
    animation: marching_ants 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    background-image: 
      linear-gradient(to right, var(--front) 50%, var(--back) 50%);
}

@keyframes marching_ants {
    0% {
      background-position: 0 0;
    } 
    100% {
      background-position: calc(var(--ant-size) * 2) 0;
    }
}

.debug_panel {
    width: 100%;
    max-width: 700px;
    background-color: #1E1E1E;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    padding: 1em;
    overflow-y: scroll;
}

@media (max-width: 1400px) {
    .debug_panel {
        flex-grow: 2;
    }
}

@media (max-width: 1200px) {
    body {
        flex-direction: column;
    }

    .debug_panel {
        max-width: unset;
        width: unset;
    }
}

.debug_panel .color {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.3em;
    border: solid 1px #808080;
}

.debug_panel .name_container {
    color: rgb(209, 159, 23);
}

.debug_panel .type {
    font-size: 75%;
    opacity: 75%;
}

.debug_panel .name {
    font-weight: bold;
    margin-right: 0.5em;
}

.debug_panel .info {
    color: rgb(23, 104, 209);
}

.debug_panel .properties {
    color: rgb(135, 23, 209);
    font-style: italic;
}

.debug_panel .children {
    padding-left: 1em;
    padding-top: 0.3em;
    margin-left: 0.2em;
    border-left: solid 1px #776100;
    position: relative;
}

.debug_panel .odd > .children {
    border-left-color: rgb(47, 88, 8);
}

.debug_panel .children > *::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0.8em;
    border-top: solid 1px #776100;
    margin-top: 0.8em;
    margin-left: -1em;
}

.debug_panel .odd > .children > *::before {
    border-top-color: rgb(47, 88, 8);
}

.debug_panel .hidden, .debug_panel.hidden {
    display: none;
}

.debug_panel .buttons {
    display: inline-flex;
    margin-left: 0.8em;
    gap: 0.8em;
    visibility: hidden;
}

.debug_panel .buttons button {
    border-radius: 2px;
    text-decoration: underline;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.debug_panel .header {
    padding: 0.2em 0 0.2em 0.4em;
    margin-top: 0.3em;
}

.debug_panel .children > *:first-child .header {
    margin-top: 0;
}

.debug_panel .header:hover {
    background-color: #ffffff10;
}

.debug_panel .header:hover .buttons {
    visibility: visible;
}